<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pati's Projects Managment System</title>
 


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.11.4/dt-1.10.13/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/ju-1.11.4/dt-1.10.13/datatables.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pati's Projects Managment System", "Index", "Start", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Project")</li>
                    <li>@Html.ActionLink("Companies", "Index", "Company")</li>
                    <li>@Html.ActionLink("Attach project", "Index", "Staff_Project_Allocation")</li>
                    <li>@Html.ActionLink("Add salary", "Index", "Staff_Time_Allocation")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pati's Projects Managment System</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
